* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #000000 !important;
    text-align: center !important;
}

/* Global title */
.title {
    color: #2b2c2b;
    margin: 0 auto !important;
    font-size: 32px !important;
    font-weight: bold !important;
    text-align: left !important;
    max-width: 80%;
}

/* Global paragraph */
.desc {
    color: #999999;
    margin: 15px auto !important;
    text-align: left !important;
    max-width: 80%;
}

/* Global subtitle */
.sub {
    color: #999999;
    margin: 15px auto !important;
    text-align: left !important;
    max-width: 80%;
    font-size: 20px !important;
    margin: 0 auto !important;
    font-weight: bold !important;
}

/* Navigation */
.navegacao {
    background-color: #2b2c2b !important;
    box-shadow: 1px 2px #00000048 !important;
    color: #ffffff !important;
    text-align: center !important;
}

.nav-menu > li {
    padding: 0 0 0 30px !important;
}

/* Carousel */
.carousel {
    width: 100% !important;
    z-index: 0 !important;
    position: relative !important;
    display: none;
}

/* Header */
header {
    top: 0;
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    width: 100%;
    position: initial;
    display: flex;
    justify-content: center;
    background-image: url("https://mocah.org/uploads/posts/4563409-knight-warrior-video-games-dark-souls-iii-artwork-sword-armor-dark-souls-from-software-death-fire-digital-art.jpg");
    background-size: auto 100%;
}

.logo {
    width: 436px;
    height: 436px;
    display: none;
}

header .title {
    color: #ffffff !important;
}

header .desc {
    color:#999999;
}

.sch-button {
    background-color: #ffffff;
    border-radius: 10px;
    border: 0px;
    padding: 20px 30px;
    color: #2b2c2b !important;
    text-decoration: none !important;
    font-weight: bold !important;
    cursor: pointer;
    max-width: 60%;
    margin: 15px auto;
}

.sch-button img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: 15px;
    display: none;
}

/* About */
.about {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-item {
    padding: 30px;
    margin: 0 auto;
}

.about-item img {
    width: 76px;
    height: 76px;
    margin: 0 auto;
}

.about-item .sub {
    color: #2b2c2b;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
    text-align: center !important;
}

.about-item .desc {
    text-align: center !important;
}

/* Services */
.services {
    background-image: url("../images/pattern.png");
    padding-top: 60px;
    padding-bottom: 60px;
}

.service-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.service-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #00000029;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    margin: 15px auto;
}

.service-list .service-item p {
    margin: 0px !important;
    font-size: 20px;
}

.services .sch-button {
    background-color: #2b2c2b;
    color: #ffffff !important;
}

.services .sch-button img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* Team */
.team {
    background-color: #2b2c2b;
    padding-bottom: 60px;
    padding-top: 60px;
}

.team .title {
    color: #ffffff;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.team-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #00000029;
    border-radius: 10px;
    width: 80%;
    margin: 15px auto;
    padding-top: 15px;
}

.team-item .title {
    text-align: center !important;
    color: #2b2c2b;
}

.team-item .desc {
    text-align: center !important;
}

.team-item img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* Magia abaixo, cuidado! */
@media screen and (min-width: 768px) {

    /* Global title */
    .title {
        max-width: 600px;
        text-align: center !important;
    }

    /* Global paragraph */
    .desc {
        max-width: 600px;
        text-align: center !important;
    }

    /* Global subtitle */
    .sub {
        max-width: 600px;
        text-align: center !important;
    }

    /* Carousel */
    .carousel {
        display: flex;
        height: 800px;
    }

    /* Header */
    header {
        top: 15%;
        height: 1px;
        padding-top: 0px;
        padding-bottom: 0px;
        position: absolute;
    }

    .logo {
        display: none;
    }

    .sch-button img {
        display: inline;
    }

    /* About */
    .about-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-item {
        min-width: 30%;
        width: 600px;
    }

    /* Services */
    .service-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .service-item {
        width: 100px;
        min-width: 30%;
        margin: 15px;
    }

    /* team */
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10%;
    }

    .team-item {
        width: 400px;
        margin: 15px;
    }

}

@media screen and (min-width: 1280px) {

    /* Header */
    header {
        top: 0%;
    }

    .logo {
        display: inline;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1980px) {

    /* Header */
    header {
        top: 20%;
    }

    .logo {
        display: inline;
    }
}