* {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}

nav {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin: 30px 0;
    text-align: center;
}

li a {
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.agendar {
    background-color: #ffffff;
    color: #1a1a1a;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
}

.logo {
    width: 436px;
    height: 436px;
    margin: 90px 0;
}

.title {
    color: #1a1a1a;
    margin: 0;
    font-size: 40px;
    max-width: 800px;
    text-align: center;
}

.sub {
    color: #999999;
    font-weight: bold;
    margin: 90px 0 30px 0;
    text-align: center;
}

.desc {
    color: #999999;
    margin: 15px 0 90px 0;
    max-width: 800px;
    text-align: center;
}

header .title {
    color: #ffffff;
}

header .desc {
    color: #ffffff;
    margin: 15px 0 60px 0;
}

.sch-button {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 90px 0;
    display: flex;
    flex-direction: row;
}

.sch-button img {
    width: 24px;
    height: 24px;
    margin: auto auto auto 15px;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
}

.about {
    background-color: #ffffff;
}

.about .desc {
    margin: 15px 0 60px 0;
}

.list {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 25%;
    min-width: 300px;
}

.list-item img {
    width: 76px;
    height: 76px;
}

.list-item .title {
    font-size: 20px;
    text-align: left;
    margin: 15px 0 0 0;
}

.list-item .desc {
    text-align: left;
    margin: 15px 0 0 0;
}

.services {
    background-color: #f9f9f9;
}

.services .desc{
    margin: 15px 0 75px 0;
}

.svc-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 80%;
    margin: 0 0 60px 0;
}

.services .svc-list .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 9px #00000029;
    text-align: left;
    margin: 15px;
    width: 300px;
    padding: 30px 0 30px 30px;
}

.services .svc-list .card p {
    margin: 0;
}

.services .sch-button {
    color: #ffffff;
    background-color: #1a1a1a;
}

.team {
    background-color: #1a1a1a;
    padding: 0 0 90px 0;
}

.team .title {
    color: #ffffff;
}

.team .sub {
    color: #999999;
}

.team .desc {
    color: #999999;
}

.team-content {
    display: flex;
    flex-direction: row;
}

.team-card {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 7.5px;
}

.team .team-card .title {
    text-align: left;
    color: #1a1a1a;
    margin: 15px auto 15px 15px;
}

.team .team-card .desc {
    text-align: left;
    color: #999999;
    margin: 0 auto 15px 15px;
}

.team .team-card img {
    width: 395px;
    height: 526px;
    border-radius: 0 0 10px 10px;
}

.contact {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0 0 90px 0;
}

.contact .social {
    background-color: #1a1a1a;
    color: #ffffff;
    width: 640px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .social .social-card {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 460px;
}

.contact .social .social-card a {
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.contact .social .social-card p {
    margin: 0;
}

.contact .social .social-card img {
    height: 76px;
    width: 76px;
}

.contact .social .social-card a img {
    height: 24px;
    width: 24px;
}

.contact .form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
}

.contact .form-contact .title {
    text-align: left;
}

.contact .form-contact .sub {
    text-align: left;
}

.contact .form-contact .desc {
    text-align: left;
    margin: 15px 0 30px 0;
}

.contact .form-contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact .form-contact form label {
    margin: 0;
    font-weight: bold;
    width: 100%;
}

.contact .form-contact form input {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
}

.contact .form-contact form textarea {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
}

.contact .form-contact form .sbm-button {
    width: 100%;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
}

footer {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-around;
    padding: 90px 0 90px 0;
}

footer .footer-desc {
    width: 30%;
    min-width: 20%;
}

footer .footer-desc h1 {
    font-size: 40px;
    margin: 0;
}

footer .footer-desc p {
    margin: 0;
}

footer div .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

footer div .footer-nav li {
    list-style-type: none;
    text-align: left;
    margin: 7.5px 0;
}

footer div .footer-nav li a{
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.rights {
    color: #ffffff;
    background-color: #1a1a1a;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 90px 0;
}

.rights p {
    color: #ffffff;
    background-color: #1a1a1a;
    margin: 0 auto;
}